services:
  jobmanager:
    build:
      context: .
      dockerfile: Dockerfile
    image: flink-ptf-examples:latest
    container_name: flink-jobmanager
    hostname: jobmanager
    ports:
      - "8081:8081"
    command: jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
        parallelism.default: 1
        taskmanager.memory.process.size: 1600m
        jobmanager.memory.process.size: 1600m
    volumes:
      - ./src/main/resources/examples:/opt/flink/sql
    networks:
      - flink-network

  taskmanager:
    image: flink-ptf-examples:latest
    container_name: flink-taskmanager
    hostname: taskmanager
    depends_on:
      - jobmanager
    command: taskmanager
    scale: 1
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
        parallelism.default: 1
        taskmanager.memory.process.size: 1600m
    networks:
      - flink-network

  sql-client:
    image: flink-ptf-examples:latest
    command: bin/sql-client.sh
    depends_on:
      - jobmanager
    environment:
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        rest.address: jobmanager
    volumes:
      - ./src/main/resources/examples:/opt/flink/sql
    networks:
      - flink-network
    stdin_open: true
    tty: true

networks:
  flink-network:
    driver: bridge

